@model SimpleAds.Services.ViewModels.Ads.AdViewModel
@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Details</h2>
    <div>
        <img src="@Model.ImageUrl" />
    </div>
    <div>
        <h4>Title: @Model.Title</h4>
    </div>
    <div>
        <p>Content: @Model.Content</p>
    </div>
    <div>
        <p>Category: @Model.Category</p>
    </div>
    @switch (Model.Status)
    {
        case 1:
            <p>Status: Your ad is created and pending approval by Admin</p>
            break;
    }
</div>


